<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.doctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".net.App"
        android:allowBackup="true"
        android:icon="@mipmap/doctor_avatar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginactivity.RuZhuSuccActivity"></activity>
        <activity android:name=".activity.TixianRecordActivity" />
        <activity android:name=".activity.WithdrawDepositNextActivity" />
        <activity android:name=".activity.AutomaticActivity" />
        <activity android:name=".activity.BangingIdcardActivity" />
        <activity android:name=".activity.BangdingBackcardActivity" />
        <activity android:name=".activity.WithdrawDepositActivity" />
        <activity android:name=".activity.SuggestActivity" />
        <activity android:name=".activity.BindingWuActivity" />
        <activity android:name=".activity.MyWalletActivity" />
        <activity android:name=".activity.MyGiftActivity" />
        <activity android:name=".activity.HistoryActivity" />
        <activity android:name=".activity.HMessageActivity" />
        <activity android:name=".activity.AskMessageActivity" />
        <activity android:name=".activity.XiTongMessageActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.SickCircleInfoActivity" />
        <activity android:name=".activity.AnswerActivity" />
        <activity android:name=".activity.AskProblemActivity" />
        <activity android:name=".activity.MeActivity" />
        <activity android:name=".loginactivity.LoginActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".loginactivity.RuzhuOneActivity" />
        <activity android:name=".loginactivity.RuzhuTwoActivity" />
        <activity android:name=".loginactivity.RuzhuThreeActivity" />
        <activity android:name=".loginactivity.WangActivity" />
        <activity android:name=".loginactivity.SheActivity" />
        <activity android:name=".QDActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>